<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RYCuteView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0332D2991BEB28D40051642D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0332D2B21BEB28D40051642D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0332D2BD1BEB28D40051642D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
